<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Emgu_Color_Track.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Emgu_Color_Track.Properties.Settings>
            <setting name="laserHMin" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="laserHMax" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="laserSMin" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="laserSMax" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="laserVMin" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="laserVMax" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="targetHMin" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="targetHMax" serializeAs="String">
                <value>77</value>
            </setting>
            <setting name="targetSMin" serializeAs="String">
                <value>67</value>
            </setting>
            <setting name="targetSMax" serializeAs="String">
                <value>134</value>
            </setting>
            <setting name="targetVMin" serializeAs="String">
                <value>126</value>
            </setting>
            <setting name="targetVMax" serializeAs="String">
                <value>197</value>
            </setting>
            <setting name="kp" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ki" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="kd" serializeAs="String">
                <value>0</value>
            </setting>
        </Emgu_Color_Track.Properties.Settings>
    </userSettings>
</configuration>